.ghoul-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; 
    z-index: 10; 
    transition: opacity 0.5s;
}

.low-health-vignette {
    box-shadow: inset 0 0 100px rgba(255, 0, 0, 0.6);
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.5;
    }
}
