bin/
obj/
.vs/
**/*.user
**/*.suo
**/*.pidb
**/*.log
Dockerfile
docker-compose*.yml
.git
.gitignore
.nuget
packages/
**/bin/
**/obj/
**/*.db
**/*.sqlite
.idea/
*.db
*.DS_Store
*.vspscc
.nuget/
*.userprefs
