@page "/"
@rendermode InteractiveServer
@inject GameStateManager GameManager
@using MothsOath.UI.Components.States

<PageTitle>Moth's Oath</PageTitle>

@if (GameManager.CurrentState is MainMenuState menuState)
{
    <MainMenuUI MenuState="menuState" />
}
else if (GameManager.CurrentState is CombatState combatState)
{
    <CombatUI CombatState="combatState" />
}
else
{
    <p>Carregando...</p>
}

@code {
    protected override void OnInitialized()
    {
        GameManager.OnStateChanged += (newState) => InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        GameManager.OnStateChanged -= (newState) => InvokeAsync(StateHasChanged);
    }
}