@implements IDisposable
@implements IArchetypeCombatView
@using MothsOath.Core.Entities.Archetypes
@using MothsOath.Core.States
@using MothsOath.Core.Common
@using MothsOath.BlazorUI.Interfaces

<button class="archetype-btn btn btn-primary"
        disabled="@(!CanUseBellRingAbility)"
        @onclick="ToggleBellRing"
        @onclick:stopPropagation="true">
    Tocar Sino
</button>

@code {
    [Parameter] public CombatState CombatState { get; set; } = default!;

    [Parameter] public Action? OnCancelSelection { get; set; }

    [Parameter] public EventCallback<IArchetypeCombatView> OnRegister { get; set; }

    private bool bellTargeting = false;
    private bool abilityUsedThisTurn = false;

    protected override void OnInitialized()
    {
        if (CombatState != null)
        {
            CombatState.OnPlayerTurnStart += ResetAbilityUsage;
        }

        OnRegister.InvokeAsync(this);
    }

    public void Dispose()
    {
        if (CombatState != null)
        {
            CombatState.OnPlayerTurnStart -= ResetAbilityUsage;
        }
    }

    private void ResetAbilityUsage()
    {
        abilityUsedThisTurn = false;
        InvokeAsync(StateHasChanged);
    }

    private bool CanUseBellRingAbility =>
        CombatState.Player is BellRinger &&
        CombatState.Player.CurrentMana >= 40 &&
        !abilityUsedThisTurn;

    private void ToggleBellRing()
    {
        if (!CanUseBellRingAbility) return;
        bellTargeting = !bellTargeting;
        StateHasChanged();
    }


    public bool IsInSpecialMode() => bellTargeting;

    public bool HandleTargetSelection(BaseCharacter target)
    {
        if (!CanUseBellRingAbility ||
            CombatState.Player is not BellRinger bellRinger ||
            target is Player) 
            return false;
        

        bellRinger.BellRingAbility(CombatState, target);

        abilityUsedThisTurn = true;
        bellTargeting = false;
        StateHasChanged();

        return true; 
    }
}